@import '../../../styles/variables';

.defaultBtn {
  width: 150px;
  height: 40px;
  margin: 10px 0;
  border: 2px solid $accentColor;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);
  }
}

.top-line-btn {
  width: 100px;
  margin: 0 10px;
  color: $fontColorLight;
  background-color: $bgColorDark;
  border:none;

  &:hover {
    transform: scale(1.1);
  }
}

.accentButton {
  background: $accentColor;
  color: $fontColorLight;
}
