// {
//   "presets": [
//     "@babel/preset-env",
//      "@babel/preset-react"
//     ]
// }npm
{
  "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
  ],
  "plugins": [
      [
        "@babel/plugin-proposal-class-properties"
      ]
  ]
}

