.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 0 10%;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
}

.big-image {
  width: 100%;
  margin: 10px 0;
}

.small-image {
  max-width: 150px;
  max-height: 100px;
  margin: 10px 0;
}

.images-container, .item-details-wrapper {
  width: 100%;
}

.small-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.description-heading {
  font-size: 2rem;
}

.horizontal-line {
  border: 2px solid #d2985e;
  width: 100px;
  margin: 20px 0;
}

.price-container {
  color: #d2985e;
  font-size: 1.5rem;
}
