@import '../../../styles/variables';

.header-promo-container {
  display: flex;
  padding: 0 10%;
  background-color: $bgColorMedium;
}

.promo-header {
  padding: 40px 0 0;
  color: $accentColor;
  font-size: 34px;
  text-transform: uppercase;
}

.image-container {
  height: 300px;
  margin-left: 20%;
  background-color: $fontColorDark;
}

.grey-text {
  color: $fontColorDark;
  font-size: 14px;
  margin: 10px 0;
}

.promo-img {
  height: 300px;
}