@import '../../../styles/variables';

.promo {
  &__container {
    display: flex;
    background-color: $bgColorMedium;
  }

  &__header {
    padding: 40px 0 0;
    color: $accentColor;
    font-size: 34px;
    text-transform: uppercase;
  }

  &__img {
    height: 300px;
  }
}

.image {
  &__container {
    height: 300px;
    margin-left: 20%;
    background-color: $fontColorDark;
  }
}

.grey-text {
  color: $fontColorDark;
  font-size: 14px;
  margin: 10px 0;
}