@import "../../../styles/_variables.scss";

.content {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }

  &__title {
    text-align: center;
    color: $accentColor;

    &_sale {
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.filter {
  &__panel {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
}

.product {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
  }

  &__picture {
    height: 250px;
    background: $bgColorMedium;

    &_small {
      height: 150px;
      background: $bgColorMedium;
    }
  }

  &__item {
  }
}

.promo {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: $bgColorDark;
    color: $accentColor;
  }
}

.subscribe {
  &__container {
    display: flex;
    justify-content: center;
    height: 150px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }
}

.button {
  display: flex;
  align-self: center;
  text-align: center;
}

.story {
  &__container {
    display: flex;
    height: 500px;
  }
}